
.btn {
  width: 100%;
  background: none;
  aspect-ratio: 1 / 1;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #363c3a;
}

.btn.active {
  background-color: #006d77;
  color: white;
}

.btn.inactive {
  opacity: .3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: #83c5be;
}